apiVersion: v1
kind: Service
metadata:
  name: todo-service
  namespace: {{ .Values.namespace }}
spec:
  type: LoadBalancer
  selector:
    app: todo-app
  ports:
    - port: 80
      targetPort: 8080
